<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Sinh Viên</title>
</head>
<body>
<a th:href="@{/lop}">Trang chủ</a>
<h1 th:text="'Danh sách sinh viên lớp '+${lop}">Danh sách sinh viên </h1>
<table border="">
    <tr>
        <th>#</th>
        <th>Mã sinh viên</th>
        <th>Tên sinh viên</th>
        <th>Điểm trung bình</th>
        <th></th>
    </tr>
    <tr th:each="diem, state : ${diemTB}">
        <td th:text="${state.count}"></td>
        <td th:text="${diem.sv.masv}"></td>
        <td th:text="${diem.sv.tensv}"></td>
        <td th:text="${diem.diem}"></td>
        <td><a th:href="@{'/detail/'+${diem.sv.masv}}">Chi tiết</a></td>
    </tr>
</table>

<h1 th:text="'Danh sách sinh viên điểm trung bình trên 5 lớp '+${lop}">Danh sách sinh viên </h1>
<table border="">
    <tr>
        <th>#</th>
        <th>Mã sinh viên</th>
        <th>Tên sinh viên</th>
        <th>Điểm trung bình</th>
        <th></th>
    </tr>
    <tr th:each="diem, state : ${diemTB}">
        <th:block th:if="${diem.diem>5}">
            <td th:text="${state.count}"></td>
            <td th:text="${diem.sv.masv}"></td>
            <td th:text="${diem.sv.tensv}"></td>
            <td th:text="${diem.diem}"></td>
            <td><a th:href="@{'/detail/'+${diem.sv.masv}}">Chi tiết</a></td>
        </th:block>
    </tr>
</table>
</body>
</html>